name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
 test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['7.3', '7.4', '8.0']
        symfony: ['3.4', '4.4', '5.1', '5.2', '5.3']

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: mbstring, intl
          tools: composer:v2

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Select supported Symfony version
        run: composer require symfony/framework-bundle:"^${{ matrix.symfony }}" --no-update

      - name: Run tests
        run: make test

 test-lowest:
    name: Test Lowest
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 10
      matrix:
        php: ['7.2', '7.3', '7.4']

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          extensions: mbstring, intl
          tools: composer:v2

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run tests
        run: make test-lowest
